
.container {
  width: 96%;
  min-height: 90vh;
  margin: auto;
  /* background:coral; */
  padding: 2%;
  background-color: brown;
}
.workzone {
  width: 85%;
  /* background: cornflowerblue; */
  margin:auto; 
}
.searcharea {
  display: flex;
  flex-direction: row;
}
.input {
  width: 80%;
}
.input input{
  width: 100%;
}
.search{
  width: 20%;
}
.search button{
  width: 50%;
  min-width: 60px;
  margin-left: 15%;
  
}